@use '../vars';

#aboutLogos {
	section {
		div.container {
			div.logos {
				display: grid;
				grid-template-columns: repeat(9, 1fr);
				grid-gap: 2rem;
				align-items: center;

				img {
					width: 60%;
				}
			}
		}
	}
}
