@use '../vars';

#aboutTest {
	section {
		div.container {
			div.bottomLine {
				margin: 0 auto 3rem auto;
			}

			div.testimonials {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 1rem;

				div {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					border: 1px solid vars.$color2;
					border-radius: 5px;

					p {
						padding: 0.9rem;
						font-size: 1.5rem;
					}

					ul {
						margin: 0 1rem;
						display: flex;
						align-items: center;

						li {
							img {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								margin: 0 0.9rem 0 0;
							}

							div {
								display: flex;
								flex-direction: column;
								border: none;

								p {
									border: none;
									padding: 0;
									font-size: 1.2rem;

									&:last-child {
										color: vars.$color5;

										span {
											color: vars.$color1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 800px) {
	#aboutTest {
		section {
			div.container {
				div.testimonials {
					grid-template-columns: repeat(2, 1fr);

					div {
						ul {
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#aboutTest {
		section {
			div.container {
				div.testimonials {
					grid-template-columns: 1fr;

					div:nth-child(even) {
						ul {
							justify-content: flex-start;
							flex-direction: row-reverse;

							li {
								img {
									margin: 0 0 0 0.9rem;
								}
							}
						}

						p {
							text-align: end;
						}
					}

					div:nth-child(odd) {
						ul {
							justify-content: flex-start;
						}
					}
				}
			}
		}
	}
}
