@use '../vars';

div#about {
	div.container {
		p {
			font-size: 3rem;
		}

		div.bottomLine {
			margin: 0 auto 3rem auto;
		}

		div.info {
			display: grid;
			grid-template-areas:
				"image bio bio"
				"award1 award2 award3";
			grid-gap: 1.8rem;

			.bioImage {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-area: image;
			}

			.bio {
				@include vars.background(vars.$color6);
				grid-area: bio;
				border-left: 3px solid vars.$color1;
				padding: 1rem 2rem;

				h4 {
					font-size: 2.3rem;
				}

				p {
					font-size: 1.9rem;
					text-align: left;
					margin: 1.5rem 0;
				}
			}

			.award1 {
				grid-area: award1;
			}

			.award2 {
				grid-area: award2;
			}

			.award3 {
				grid-area: award3;
			}

			.award1,
			.award2,
			.award3 {
				svg {
					font-size: 4rem;
					color: vars.$color4;
					margin: 1.5rem;
				}

				h3 {
					font-size: 2.1rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@media (max-width: 1050px) {
	div#about {
		div.container {
			div.bottomLine {
				margin: 0 auto 2rem auto;
			}

			p {
				margin: 0 0 1.5rem 0;
			}

			div.info {
				grid-template-areas:
					"bio bio bio"
					"image image image"
					"award1 award2 award3";
				// "award2"
				// "award3";
				grid-gap: 0;

				.bioImage {
					grid-template-columns: repeat(4, 1fr);
					grid-area: image;
				}

				.bio {
					border-left: none;
					border-bottom: 2px solid vars.$color1;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	div#about {
		div.container {
			padding: 1rem;

			p {
				font-size: 2rem;
			}

			div.info {
				grid-template-areas:
					"bio"
					"image"
					"award1"
					"award2"
					"award3";

				.bioImage {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}

				.bio {
					border-left: none;
					border-bottom: 2px solid vars.$color1;
					padding: 1rem;
				}

				.award1 {
					border-bottom: 1px solid vars.$color1;
				}

				.award2 {
					border-bottom: 1px solid vars.$color1;
				}
			}
		}
	}
}
