@use '../vars';

#aboutLogos {
	section {
		div.container {
			div.logos {
				display: grid;
				grid-template-columns: repeat(9, 1fr);
				grid-gap: 2rem;
				align-items: center;
				justify-items: center;

				img {
					width: 60%;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#aboutLogos {
		section {
			div.container {
				div.logos {
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 1rem;

					img {
						width: 70%;
					}
				}
			}
		}
	}
}
