@use '../vars';

#showcase {
	height: 75vh;
	color: #fff;
	background: url("/assets/background3.jpg") no-repeat center center/cover;

	header {
		.container {
			div.headerContent {
				text-align: center;
				padding: 20% 0 0 0;

				h1 {
					font-size: 5rem;
					line-height: 1.2;
					color: vars.$darkColor;
				}

				p {
					color: vars.$darkColor;
				}

				a {
					font-size: 1.7rem;
				}
			}
		}
	}
}

@media (max-width: 800px) {
	#showcase {
		height: 40vh;

		header {
			.container {
				div.headerContent {
					padding: 5rem 0 0 0;

					h1 {
						font-size: 4rem;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#showcase {
		height: 0vh;

		header {
			.container {
				div.headerContent {
					display: none;
				}
			}
		}
	}
}
