@use '../vars';

div#process {
	section {
		div#timeline {
			ul {
				background: vars.$lightColor;

				li {
					list-style: none;
					position: relative;
					width: 6px;
					margin: 0 auto;
					padding: 5rem 0 0 0;
					background: vars.$mainColor;

					div {
						div {
							position: relative;
							bottom: 0;
							width: 400px;
							padding: 2rem;
							background: vars.$secondColor;
							transition: all 0.5s ease-in-out;

							h3 {
								font-size: 2.25rem;
								display: flex;
								align-items: center;
								justify-content: center;

								svg {
									font-size: 3.5rem;
									margin: 0 1rem;
									color: vars.$lightColor;
								}
							}

							h2 {
								font-size: 1.75rem;
							}

							p {
								font-size: 1.4rem;
							}

							/* Arrows base style */
							&:before {
								content: "";
								position: absolute;
								bottom: 5px;
								width: 0;
								height: 0;
								border-style: solid;
							}
						}
					}

					// Middle dots
					&:after {
						content: "";
						position: absolute;
						left: 50%;
						bottom: 0;
						width: 20px;
						height: 20px;
						background: inherit;
						transform: translateX(-50%);
						border-radius: 50%;
					}

					// Right side boxes
					&:nth-child(odd) {
						div {
							left: 40px;

							/* Right side arrows */
							&:before {
								left: -15px;
								border-width: 8px 16px 8px 0;
								border-color: transparent vars.$secondColor transparent
									transparent;
							}
						}
					}

					// Left side boxes
					&:nth-child(even) {
						div {
							left: -434px;

							/* Left side arrows */
							&:before {
								right: -15px;
								border-width: 8px 0px 8px 16px;
								border-color: transparent transparent transparent
									vars.$secondColor;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	div#process {
		section {
			div#timeline {
				ul {
					li {
						div {
							div {
								width: 250px;
							}
						}

						&:nth-child(even) {
							div {
								left: -284px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	div#process {
		section {
			div#timeline {
				ul {
					li {
						margin-left: 20px;

						div {
							div {
								width: calc(100vw - 90px);
							}
						}

						&:nth-child(even) {
							div {
								left: 40px;
								/* transform: translateX(200px); */

								&:before {
									left: -15px;
									border-width: 8px 16px 8px 0;
									border-color: transparent vars.$secondColor transparent
										transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}
