@use '../vars';

#workFeature {
	div.container {
		p {
			font-size: 2rem;
		}

		h1 {
			margin: 2rem 0;
			font-size: 3rem;
			color: vars.$color1;
		}

		.featureContainer {
			display: grid;
			grid-template-areas:
				"buttons buttons"
				"image desc";

			div.fButtons {
				grid-area: buttons;
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				a {
					@include vars.buttonThemed(vars.$color1);
					font-size: 2rem;
				}
			}

			img {
				grid-area: image;
			}

			div {
				grid-area: desc;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 2rem;

				h2 {
					font-size: 2.2rem;
					color: vars.$color1;
				}

				p {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (max-width: 850px) {
	#workFeature {
		div.container {
			.featureContainer {
				grid-template-areas:
					"image buttons"
					"desc desc";
				justify-items: center;

				div.fButtons {
					flex-direction: column;
					justify-content: space-evenly;
				}

				img {
					width: 70%;
				}

				div {
					padding: 0;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#workFeature {
		div.container {
			padding: 0.75rem;

			p {
				font-size: 1.5rem;
			}

			h1 {
				margin: 1rem 0;
				font-size: 2rem;
			}

			.featureContainer {
				grid-template-areas:
					"buttons"
					"image"
					"desc";

				div.fButtons {
					justify-content: space-between;

					a {
						font-size: 1.6rem;
						margin: 1rem 0;
					}
				}

				img {
					width: 90%;
				}

				div {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 1rem;

					h2 {
						font-size: 2rem;
						text-align: center;
					}

					p {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
}
