@use '../vars';

div#workProjects {
	div.container {
		p {
			font-size: 2rem;
		}

		div.projects {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

			a {
				cursor: pointer;

				div.project {
					position: relative;
					background-color: vars.$color1;
					overflow: hidden;

					&::after {
						content: "";
						position: absolute;
						display: block;
						background: inherit;
						opacity: 0.9;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
						transition: 2.5s cubic-bezier(0.2, 1, 0.3, 1);
					}

					// Bring in overlay on hover
					&:hover::after {
						transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
					}

					// Scale image up on hover
					&:hover .projectImage {
						transform: scale(1.2);
					}

					// Bring in text on hover
					&:hover .projectText {
						opacity: 1;
						transform: translateY(0);
					}

					div.projectImage {
						height: auto;
						display: block;
						transform: translateZ(0);
						transition: transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
						// max-height: 220px;

						&:before {
							content: "";
							display: block;
							padding-top: 75%;
							overflow: hidden;
						}

						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: auto;
							line-height: 0;
						}
					}

					div.projectText {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						opacity: 0;
						text-align: center;
						z-index: 1;
						color: #fff;
						transform: translateY(-20%);
						transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
							transform 500ms cubic-bezier(0.2, 1);
						transition-delay: 300ms;

						div.projectTextWrap {
							position: absolute;
							width: 100%;
							top: 50%;
							transform: translateY(-50%);

							.textCategory {
								text-transform: uppercase;
								font-size: 2rem;
								opacity: 0.7;
								margin: 0;
							}

							.textTitle {
								font-size: 2.8rem;
								padding: 0 1.5rem;
								margin: 0.5rem 0 0 0;
							}

							p {
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1025px) {
	div#workProjects {
		div.container {
			div.projects {
				grid-template-columns: 1fr 1fr;
				grid-gap: 1rem;
				a {
					div.project {
						div.projectText {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	div#workProjects {
		padding: 0 0 1rem 0;

		div.container {
			div.projects {
				grid-gap: 1rem;
				grid-template-columns: 1fr;
			}
		}
	}
}
