@use '../vars';

#resumeHeader {
	.container {
		.resHeader {
			background: vars.$color6;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;

			div:first-child {
				h1 {
					color: vars.$color1;
					font-size: 3.6rem;
					text-transform: uppercase;

					span {
						color: vars.$color2;
					}
				}

				h3 {
					text-transform: uppercase;
					font-size: 2rem;
					color: vars.$dark;
				}
			}

			div:nth-child(2) {
				ul {
					display: grid;
					grid-template-columns: repeat(2, 1fr);

					li {
						font-size: 1.4rem;
						display: flex;
						align-items: center;
						color: vars.$dark;

						&:nth-child(odd) {
							margin: 0 3rem 0 0;
						}

						&:nth-child(even) {
							margin: 0 0 0 3rem;
						}

						svg {
							font-size: 1.5rem;
							margin: 0 1rem 0 0;
							color: vars.$color2;
						}

						a {
							color: vars.$dark;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1050px) {
	#resumeHeader {
		.container {
			.resHeader {
				flex-direction: column;

				div:first-child {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				div:nth-child(2) {
					width: 90%;

					ul {
						display: grid;
						grid-template-columns: repeat(3, 1fr);

						li:nth-child(odd),
						li:nth-child(even) {
							margin: 0 1rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#resumeHeader {
		.container {
			padding: 1rem;

			.resHeader {
				flex-direction: column;
				padding: 0;
				background: none;

				div:first-child {
					display: block;
					text-align: center;
				}

				div:nth-child(2) {
					width: fit-content;

					ul {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						li:nth-child(odd),
						li:nth-child(even) {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
