@use 'vars';

.container {
	max-width: vars.$width;
	padding: 2rem;
	margin: auto;
	overflow: hidden;
}

%buttonShared {
	display: inline-block;
	padding: 1rem 2rem;
	transition: all 0.5s;
	border: none;
	cursor: pointer;
}

// Buttons
.button {
	&Main {
		@extend %buttonShared;
		color: #333;
		background-color: vars.$mainColor;
	}

	&Light {
		@extend %buttonShared;
		color: #333;
		background-color: vars.$lightColor;
	}

	&Dark {
		@extend %buttonShared;
		color: #f4f4f4;
		background-color: vars.$darkColor;
	}
}

button[class^="button"]:hover,
a[class^="button"]:hover,
input[class^="button"]:hover {
	background-color: vars.$mainColor;
}

// Backgrounds
.bg {
	&Main {
		background: vars.$mainColor;
		color: vars.$lightColor;
	}
	&Dark {
		background: vars.$darkColor;
		color: vars.$lightColor;
	}
	&Light {
		background: vars.$lightColor;
		color: vars.$darkColor;
	}
	&Medium {
		background: vars.$medColor;
		color: vars.$darkColor;
	}
}

.lead {
	font-size: 2rem;
	margin: 0 0 2.5rem 0;
}

.textCenter {
	text-align: center;
}

.bottomLine {
	background: vars.$mainColor;
	height: 3px;
	width: 4rem;
	display: block;
	margin: 0 auto 1rem auto;
}

.sectionTitle {
	font-size: 2.5rem;
	display: block;
	padding: 0 0 1rem 0;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
}

// Padding classes
.padY {
	&1 {
		padding: 1rem 0;
	}
	&2 {
		padding: 2rem 0;
	}
	&3 {
		padding: 3rem 0;
	}
	&4 {
		padding: 4rem 0;
	}
}

// Margin classes
.marginY {
	&1 {
		margin: 1rem 0;
	}
	&2 {
		margin: 2rem 0;
	}
	&3 {
		margin: 3rem 0;
	}
	&4 {
		margin: 4rem 0;
	}
}
