// Variables
$width: 1280px;
$mainColor: #ffbc00;
$secondColor: #5b7bb4;
$lightColor: #f4f4f4;
$medColor: #ccc;
$darkColor: #333;

// Set Text colors
@function setTextColor($color) {
	@if (lightness($color) > 50) {
		@return $darkColor;
	} @else {
		@return $lightColor;
	}
}
