// Variables
$width: 1240px;

//Jurnease Colors
$featuredColor: #018aa3;
$highlightColor: #ff8930;

// Check lightness of colors with
// @debug lightness(#e4e7e9);

// Color Scheme 1
$dark: #444444; // lightness 26.6666666667%
$color1: #00a8c6; // lightness 38.8235294118%
$color2: #8fbe00; // lightness 37.2549019608%
$color3: #40c0cb; // lightness 52.3529411765%
$color4: #aee239; // lightness 55.4901960784%
$medium: #cccccc; // lightness 80%
$color5: #fdf7de; // lightness 93.137254902%
$color6: #f9f2e7; // lightness 94.1176470588%
$light: #f4f4f4; // lightness 95.6862745098%

//Scheme 2
// $color1: #00a8c6;
// $color2: #19ddff;
// $color3: #00687a;
// $color4: #7a3700;
// $color5: #c75a00;

//Scheme 3
// $color1: #230abf;
// $color2: #8fbe00;
// $color3: #1a0b73;
// $color4: #730b47;
// $color5: #bf0a72;

//Scheme 4
// $color1: #91204d;
// $color2: #452632;
// $color3: #e2f7ce;
// $color4: #e8bf56;
// $color5: #e4844a;

// Set Text colors
@function setTextColor($color) {
	@if (lightness($color) > 50) {
		@return $dark;
	} @else {
		@return $light;
	}
}

@function setColor($color) {
	@if (lightness($color) < 25) {
		@return $light;
	} @else if(lightness($color) < 40) {
		@return $color6;
	} @else if(lightness($color) < 60) {
		@return $dark;
	} @else {
		@return $color1;
	}
}

// For backgrounds
@mixin background($color) {
	background: $color;
	color: setColor($color);
}

// For buttons or links as buttons
@mixin buttonThemed($col) {
	display: inline-block;
	padding: 1rem 2rem;
	transition: all 0.5s ease;
	border: none;
	cursor: pointer;
	background: $col;
	color: setColor($col);

	&:hover {
		@include background($color4);
		// background: lighten($col, 8%);
		transition: all 0.5s ease;
		// color: darken($col, 40%);
	}

	&:active {
		background: lighten($col, 20%);
	}
}
