@use 'vars';

div#footer {
	background: vars.$darkColor;
	color: vars.$lightColor;

	div.content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 1.2rem;
		}

		div.social {
			a {
				svg {
					color: #fff;
					margin: 0 1.5rem 0 0;
					height: 30px;
					width: 30px;
					transition: 0.3s;

					&:hover {
						color: vars.$mainColor;
						transition: 0.3s;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	div#footer {
		div.content {
			flex-direction: column-reverse;
			padding: 1rem;

			div.social {
				padding: 0 0 1rem 0;
				width: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
			}
		}
	}
}
