@use 'vars';

#navBar {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background: vars.$color6;
	z-index: 2;
	border-bottom: 2px solid vars.$color1;

	.container {
		padding: 0;

		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0;

			a {
				img#logo {
					width: 120px;
					margin: 0 0 0 1rem;
				}
			}

			ul {
				display: flex;

				li {
					padding: 0 2rem;

					a {
						color: vars.$color1;
						text-transform: uppercase;
						border-bottom: 3px solid transparent;
						padding: 0 0 1rem 0;
						transition: border-color 0.5s;
						font-size: 1.8rem;

						&:hover {
							color: vars.$color3;
							border-color: vars.$color4;
						}

						&.selected {
							border-color: vars.$color2;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 850px) {
	#navBar {
		background: url("/assets/background1.jpg") no-repeat center center / cover;

		.container {
			nav {
				ul {
					li {
						a {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#navBar {
		background: url("/assets/background1.jpg") no-repeat center bottom / cover;

		.container {
			nav {
				flex-direction: column;
				align-items: center;

				img#logo {
					margin: 0;
				}

				ul {
					li {
						padding: 1rem;

						a {
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}
